body{
    margin:0;
}
*{
    box-sizing: border-box;
}

h2,
p{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: minmax(auto, 250px) 1fr;
    grid-template-rows: 200px 1fr 50px;
}

.sidebar{
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 100px 150px 1fr 100px;
    background-color: #72d5c3;

}

.options{
    display: grid;
    gap: 20px;
    align-content: start;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #5a9abf;
}

.searchBar{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.contentBody{
    background-color: #cbc775;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

#contentForm{
    grid-row: 1/3;
    display: grid;
}

#contentForm>fieldset{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 30px;
}

.card{
    display: grid;
    gap: 30px;
    max-width: 50ch;
    padding: 30px;
    border-radius: 15px;
    background-color: #dbc6c6;
    grid-template-rows: 10% 1fr 10%;
}

.cardIcons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    justify-content: end;
}

#announcementsForm{
    grid-column: 2;
    grid-row: 1;
    display: grid;
}
#trendingForm{
    grid-column: 2;
    grid-row: 2;
    display: grid;
}

.footer{
    grid-column: 1 /-1;
   display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #120e0e;
    color: antiquewhite;
}
/* 
.topHeader{
    margin: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    align-items: center;
}

.searchBar{

}

.icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* .bottomHeader{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: center;
}

.bottomHeaderLeft{
    display: grid;
    grid-template-columns: 1fr 4fr;
} */ 