body{
    margin:0;
}
*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 150px 1fr 100px;
}

.sidebar{
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 200px 1fr;

}

.options{
    display: grid;
    gap: 20px;
    align-content: start;
}

.header{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.header>input{
    flex: .8;
}
#search{
height: 25px;
}