*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

}
h2,
p,
h3,
legend,
li{
    font-size: 1rem;
    color: #1e293b;
}
img{
    height:30px;
}

.image{
    border-radius: 100%;
    background-color: #fcd34d;
    box-shadow: 0px 1px 2px 0px #334155;
    aspect-ratio: 1;

}
.container{
    display: grid;
    grid-template-columns: min(22%, 225px) 4fr;
    grid-template-rows: 1fr 60px;
    min-height: 100vh;
}

.sidebar{
    display: grid;
    grid-row: 1/2;

    grid-template-rows: auto auto 1fr;
    padding: 15px;
    gap: 60px;
    background-color: #94a3b8;
    color: #f8fafc;
    overflow: scroll;

}

.logo{
    display: grid;
    gap: 12px;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

.logo>h2{
    color: #f1f5f9;

}

.logo>img{
    height: 50px;
}

.sidebarItem{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    margin: 15px;
    background-color: #94a3b8;
    color: #f1f5f9;
    border-style: none;

}

.secondaryContainer{
    display: grid;
    grid-template-rows: 200px 1fr;
}

.header{
    display: grid;
    grid-template-columns: 1fr min(50%, 350px);
    align-items: center;
    padding-left: 30px;
    background-color: #f8fafc;
    gap: 15px;
    box-shadow: 0px 2px 2px 0px #94a3b8;
    z-index: 3;

}

.searchBar{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
}

#search{
    appearance: none;
    border-radius: 25px;
    background-color: #e2e8f0;
    padding: .5rem;
    border-style: none;
    box-shadow: 0px 1px 2px 1px #cbd5e1;

}
#search:focus{
    outline: #f1f5f9;
    box-shadow: 0px 1px 2px 1px rgba(51,65,85,1);

}

.icons{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap:15px;
}

.greeting{
display: grid;
grid-template-columns: 65px 1fr;
gap: 15px;
}

.greeting>#userProfPic{
    height:65px;
}
.greeting>ul{
    display: grid;
    font-weight: bolder;
    font-size: 1.3rem;
    align-items: center;
}

.smol{
    font-size: medium;
}

.btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-right: 45px;
}

.btns>button{
    appearance: none;
    border-style: none;
    height: 2rem;
    border-radius: 25px;
    background-color: #94a3b8;
    color: #f1f5f9;
}
.btns>button:active{
    box-shadow: 0px 0px 2px 1px rgba(51,65,85,1);
    height: 102%;
}

.contentBody{
    display: grid;
    background-color: #e2e8f0;
    grid-template-columns: 1fr min(30%, 350px);
    padding: 15px;
    gap: 15px;
}

#contentForm{
    grid-row: 1/-1;
}

.cardGrid,
.announceField,
.trendingField,
.trendingPeople{
    display: grid;
    gap: 15px;
    border-style: none;
    padding: 15px;
}

.cardGrid{
    grid-template-columns: repeat(auto-fill, minmax(35ch,1fr));
}
legend{
    font-size: 1.4rem;
    font-weight: bolder;
}

.rightForms{
    display: grid;
    grid-template-rows:auto auto 1fr;
    gap: 15px;
}
.card, 
.announcements,
.trendys{
    display: grid;
    background-color: #fffeff;
    box-shadow: 0px 1px 2px 1px #94a3b8;
    border-radius: 5px;
    padding: 15px;
    gap:15px;
}
.trendingPeople{
    display: grid;
    grid-template-columns: auto 1fr;
}

.personInfo>h3{
    color: #334155;
}

.card{
    grid-template-rows: 1rem 1fr 1fr;
    border-left: 5px solid #fbbf24;

}
.card>h2{
    font-size: 1.1rem;
    font-weight: bold;
}

.personInfo>p,
.announce>p,
.card>p{
    color: #64748b;
}
.trendingPeople,
.announce{
    border-bottom: .5px solid #64748b;
    padding-bottom: 15px;}

.cardIcons{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 15px;
    justify-content: end;
    align-items: center;

}
.cardIcons>button{
    border-style: none;
    background-color: #fffeff;
}

.cardIcons>button>img{
    height: 1.5rem;
}

.cardIcons>button>img:active{
    height: 1.55rem;    
}

.footer{
    background-color: black;
    color: white;
    grid-row: 2;
    grid-column: 1 / -1;
    text-align: center;
    display: grid;
}